export webtask_container=''
export dialer_location=''
export watson_stt_username=''
export watson_stt_password=''
export auth0_api_key=''
export auth0_secret=''
export auth0_token=''
export auth0_domain=''
export auth0_login_url=''
export google_id=''
export google_refresh_token=''
export google_project_id=''
export google_client_id=''
export google_client_secret=''
export google_cloud_json=''
