<html>
<head>
	<title>Splay Dialer</title>
	<script src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.4/URI.js"></script>
	<script src="dialer.js"></script>
	<link rel="stylesheet" href="dialer.css" />
	<link rel="icon" type="image/gif" href="data:image/gif;base64,R0lGODlhEAAQAIAAAAAAAAAAACH5BAkAAAEALAAAAAAQABAAAAIgjI+py+0PEQiT1lkNpppnz4HfdoEH2W1nCJRfBMfyfBQAOw==" />
</head>
<body>
	<button class="call" onclick="call(); this.blur();">Call</button>
	<div style="height: 20px"></div>
	<button class="hangup" onclick="hangup(); this.blur();">End</button>
</body>
</html>
